* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

/* begin document */

/* constant elements begin */

body {
    background-color: #E5E5E5;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.separate {
    margin: 0 auto;
    width: 170px;
    height: 0;
    border-bottom: 2px solid #EC7979;
    margin-top: 65px;
}

/* constant elements end */

/* header section begin */

.header {
    max-width: 1200px;
    width: 100%;
    background: #000000;
    padding: 22px 0;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header__menu-item__text {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* header section end */

/* banner section begin */

.banner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 280px 0 185px;
    background: url(../img/image.jpg), rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.banner .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__logo {
    margin-bottom: 72px;
}

.banner__info {
    max-width: 670px;
}

.banner__title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 55px;
}

.banner__separate {
    border-bottom: 1px solid #FFFFFF;
    text-align: left;
    margin-bottom: 42px;
    max-width: 170px;
    width: 100%;
}

.banner__descr {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    max-width: 270px;
    margin-bottom: 42px;
}

.banner__btn {
    max-width: 270px;
    width: 100%;
    display: inline-block;
    padding: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    background: none;
}

.banner__form {
    max-width: 470px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__form__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
}

.banner__form__title--red {
    color: #EC7979;
}

.banner__form__input {
    max-height: 180px;
    height: 100%;
    margin-bottom: 75px;
    padding: 0 50px;
}

.banner__form__input-item {
    border-bottom: 1px solid #BDBDBD;
    max-width: 370px;
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
}

.banner__form__input-area {
    border: none;
    max-width: 370px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}

.banner__form__input-area:focus,:active {
    outline: 0;
}

.banner__form__btn {
    max-width: 470px;
    width: 100%;
    padding: 20px;
    background: #EC7979;
    border: none;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    cursor: pointer;
}

/* banner section end */

/* social section begin */

.social .container {
    padding: 15px;
    height: 140px;
    background-color: #F8EFEF;
}

.social--wrapper {
    display: flex;
    gap: 50px;
}

.social__about {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.social__about__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
}

.social__about__discr {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social__icons-list {
    display: flex;
    gap: 45px;
    align-items: center;
}

/* social section end */

/* tabs section begin */

.tabs .container {
    background-color: #FFFFFF;
    padding-top: 100px;
}

.tabs__menu {
    width: 100%;
    z-index: 5;
}

.tabs__menu-item {
    position: relative;
    width: 200px;
    height: 40px;
    top: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #333333;
    border-radius: 5px 5px 0 0;
    padding: 10px 0;
}

.tabs__menu-item:active, 
.tabs__menu-item:focus, 
.tabs__menu-item:hover, 
.tabs__menu-item.active {
    border: 1px solid #C6CBCD;
    border-bottom: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.tabs__content {
    border: 1px solid #C6CBCD;
    width: 100%;
    height: 500px;
    display: flex;
}

.tabs__content-img--wrapper {
    width: 470px;
}

.tabs__content-img {
    width: 100%;
    height: 100%;
}

.tabs__content-about {
    width: calc(100% - 470px);
    padding: 40px 30px 55px 100px;
}

.tabs__content-about__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-bottom: 65px;
}

.tabs__content-about__descr {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 30px;
}

.tabs__content-about__button {
    max-width: 270px;
    width: 100%;
    height: 60px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* tabs section end */

/* awesome section begin */

.awesome .container {
    background-color: #ffffff;
    padding: 50px 0 60px 0;
}

.awesome__title {
    padding-top: 55px;
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.awesome__descr {
    margin-top: 40px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.awesome__list {
    list-style: none;
    margin-top: 70px;
    text-align: center;
}

.awesome__list-item {
    width: calc(1100px/3);
    margin-right: 30px;
    display: inline-block;
}

.awesome__list-item:last-child {
    margin-right: 0;
}

.awesome__list-item__title {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    color: #000000;
    padding: 35px 0;
}

.awesome__list-item__descr {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

/* awesome section end */

/* pricing section begin */

.price .container {
    background-color: #F5F5F5;
    padding: 115px 0 50px 0;
}

.price__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
}

.price__descr {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.price__list--wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.price__list {
    width: calc(1100px/3);
    margin-right: 30px;
}

.price__list:last-child {
    margin-right: 0;
}

.price__list-item-1 {
    height: 60px;
    text-align: center;
    background-color: #333333;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    border: 2px solid #F5F5F5;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price__list-item-2 {
    height: 100px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #F5F5F5;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price__list:nth-child(2) {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    position: relative;
    bottom: 20px;
}

.price__list-item-3 {
    height: 50px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.price__list-item {
    text-transform: capitalize;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: 2px solid #F5F5F5;
    color: #86878B;
    background-color: #FFFFFF;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pricing section end */

/* reviews section begin */

.reviews {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.reviews .container {
    padding: 105px 0 65px 0;
}

.reviews__separate {
    height: 0;
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto 40px auto;
}

.reviews__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 55px;
}

.reviews__descr {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 80px;
}

.reviews__customers {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.reviews__customer-text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 10px;
    max-width: 370px;
    width: 100%;
    padding: 40px 20px;
}

.reviews__customer-text--poly {
    margin: 0 0 46px 70px;
}

.reviews__customer__info {
    display: flex;
    gap: 30px;
}

.reviews__customer--wrapper {
    padding-top: 10px;
}

.reviews__customer-name {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 25px;
}

.reviews__customer-spec {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/* reviews section end */

/* banner-2 section begin */

.banner-2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: url(../img/image_2.jpg), rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.banner-2 .container {
    padding: 105px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-2__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 55px;
}

.banner-2__separate {
    margin: 0 auto 40px auto;
    width: 170px;
    height: 0;
    border-bottom: 2px solid #FFFFFF;
}

.banner-2__descr {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.banner-2__btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    max-width: 370px;
    width: 100%;
    height: 60px;
    border: 2px solid #FFFFFF;
    background: none;
    margin: 0 auto;
}

/* banner-2 section end */

/* contact section begin  */

.contact {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.contact .container {
    padding: 105px 0 50px 0;
}

.contact__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 55px;
}

.contact__separate {
    margin: 0 auto 40px auto;
    width: 170px;
    height: 0;
    border-bottom: 2px solid #EC7979;
    margin-bottom: 40px;
}

.contact__descr {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 90px;
}

.contact__form {
    margin: 0 auto 50px auto;
    max-height: 212px;
    height: 100%;
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.contact__form-input {
    max-width: 570px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact__form-input__item {
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
}

.contact__form-input__item-value {
    width: 100%;
    border: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    margin-bottom: 15px;
}

.contact__form-textarea {
    max-width: 570px;
    width: 100%;
}

.contact__form-item__textarea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.contact__form-input__item-value:focus,
.contact__form-item__textarea:focus {
    outline: none;
}

.contact__btn {
    display: block;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #EC7979;
    max-width: 370px;
    width: 100%;
    padding: 18px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

/* contact section end */

/* footer section begin */

.footer .container {
    background: #000000;
    padding: 40px 0 30px 0;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-bottom: 35px;
}

.footer__copyright {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* footer section end */